*.psess
*.vsp
*.log
*.tlog
*.lastbuildstate
*.err
*.wrn
*.suo
*.sdf
*.VC.db
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vspscc
*.opensdf
*.pch
*.ipch
*.cache
*.ilk
*.obj
*.iobj
*.aps
*.zip
/.vs
/ipch
/Win32
/x64

